
// box
.btn-box-1 {
  margin-top:25px;
  * {
    vertical-align: middle;
  }
  > div {
    display:flex;
    justify-content: space-between;
    &.two {
      button[type='button'].button {
        width:49%;
        padding:0;
      }
    }
    &.three {
      button[type='button'].button {
        width:31%;
        padding:0;
      }
    }
  }
}

.btn-box-2 {
  padding:35px 16px 30px 16px;
}
.btn-box-3 {
  margin-bottom:15px;
  text-align:right;
  &.mt-1 {
    margin-top:35px;
  }
}
.btn-box-4 {
  margin-bottom:15px;
  text-align:center;
}

// button
button[type='button'].button,
a.button,
input[type='submit'] {
  // reset
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  font-family: inherit;
  background: transparent;
  appearance: none;
  display: inline-block;
  line-height: 1.1;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  padding: 0 65px;
  height: 36px;
  line-height: 34px;
  color: $color-text;
  font-size: rem(12);
  text-align: center;
  transition: all ease-in-out 300ms;
  outline: none;

  // color
  &.color-1 {
    color:#fff;
    background-color:#ff5000;
    &:disabled {
      background-color:#c4c4c7;
      opacity: 0.5;
    }
  }
  &.color-2 {
    color:#fff;
    background-color:#4a4a4a;
  }
  &.color-3 {
    color:#000;
    border:1px solid #c0c0c0;
  }
  &.color-4 {
    color:#000;
    border:1px solid #000;
  }
  &.color-5 {
    color:#fff;
    background-color:#000;
  }

  // border
  &.border-1 {
    border:1px solid #ff5000;
  }

  // text
  &.text-1 {
    color:#ff5000;
  }

  // size
  &.medium {
    height:28px;
    line-height:26px;
    padding:0 44px;
  }

  &.small {
    padding:0 16px;
    font-size:rem(11);
  }
  &.small-2 {
    height:36px;
    line-height:34px;
    padding:0 74px;
    font-size:rem(12);
    font-weight:500;
  }
  &.small-3 {
    width:93px;
    height:28px;
    line-height:26px;
    padding:0;
    font-size:rem(11);
    font-weight:500;
  }
  &.xsmall {
    height:16px;
    line-height:14px;
    padding:0 18px;
    font-size:rem(10);
  }
  &.xsmall-2 {
    height:20px;
    line-height:18px;
    padding:0 15px;
    font-size:rem(10);
  }
  &.xsmall-3 {
    height:22px;
    line-height:20px;
    padding:0 9px;
    font-size:rem(10);
  }

  // display
  &.block {
    display: block;
    width: 100%;
  }

}

// btn-more
.btn-more {
  margin-top:30px;
  text-align:center;
  > a {
    display:inline-block;
    width:52px;
    height:52px;
    background:#ff6700 url("../images/icon/icon_more.png") no-repeat center center;
    border-radius: 50%;
    @include fontNone;
    transition:all .2s ease-in-out;
    &:hover {
      transform: scale(1.1) rotate(-90deg);
    }
  }
}