// calendar
.calendar {
  .calendar-month {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:14px;
    strong {
      margin-right:11px;
      color:#000;
      font-size:rem(12);
      font-weight:700;
      line-height:20px;
    }
    button {
      height:20px;
      padding:3px 6px 0 6px;
      color:#0c0c0c;
      font-size:rem(10);
      line-height:1.1;
      background:#fff;
      border:1px solid #b2b2b2;
      border-radius: 2px;
      cursor: pointer;
      & + button {
        margin-left:2px;
      }
      img {
        width:5px;
      }
    }
  }
  .calendar-table {
    table {
      width:100%;
      border:1px solid #d7d7d7;
      text-align:center;
      table-layout: fixed;
      th {
        height:15px;
        color:#000;
        font-size:rem(10);
        font-weight:500;
        background-color:#efefef;
        border:1px solid #d7d7d7;
        border-bottom:none;
      }
      td {
        height:48px;
        padding:2px 0 0 0;
        color:#717171;
        font-size:rem(10);
        line-height:1.2;
        border:1px solid #d7d7d7;
        vertical-align: top;
        > div {
          > span {
            display:inline-block;
            width:18px;
            height: 18px;
            line-height:17px;
          }
        }
        .schedule {
          margin-top:2px;
          color:#ff6000;
          font-size:rem(10);
          strong {
            font-weight:700;
          }
        }
        &.today {
          > div {
            > span {
              color:#fff;
              background-color:#ff6000;
              border-radius: 50%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}