// detail _ 컨텐츠 상세
.detail-top {
  .movie-coment {
    margin:-12px -14px 0 -14px;
  }
  .con-summary {
    padding:0 0 0 0;
    .summary {
      position:relative;
      padding:16px 0 15px 76px;
      border-bottom:1px solid #dfdfdf;
      .photo {
        position:absolute;
        top:16px;
        left:0;
        width:60px;
        height:60px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width:100%;
        }
      }
      .tag {
        p {
          display:inline-block;
          padding:2px 5px 2px 5px;
          color:#fff;
          font-size:rem(10);
          line-height:1.2;
          background-color:#0d0e12;
          border-radius:2px;
        }
      }
      .title {
        margin-top:5px;
        color:#000;
        font-size:rem(16);
        font-weight:700;
        line-height:1.2;
      }
      .mem-like-reply {
        margin-top:5px;
        > p {
          display:inline-block;
          padding:0 0 0 14px;
          color:#000;
          font-size:rem(10);
          background-repeat: no-repeat;
          background-position: 0 center;
          background-size:10px auto;
          & + p {
            margin-left:18px;
          }
          &.mem {
            background-image:url("../images/icon/icon_member02.png");
          }
          &.like {
            background-image:url("../images/icon/icon_like02.png");
          }
          &.reply {
            background-image:url("../images/icon/icon_reply.png");
          }
        }
      }
    }
    .time {
      margin-top:18px;
      color:#000;
      font-size:rem(11);
      line-height:1.5;
      strong {
        font-weight:700;
      }
    }
    .quota {
      margin-top:14px;
      color:#000;
      font-size:rem(11);
      font-weight: 700;
      strong {
        color:#fe6600;
        font-weight: 700;
      }
    }
    .price {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      align-items:center;
      margin-top:16px;
      padding:15px 0 0 0;
      border-top:1px solid #dfdfdf;
      .num {
        color:#000;
        font-size:rem(11);
        font-weight:500;
        line-height:1.2;
        strong {
          font-size:rem(17);
          font-weight:700;
        }
      }
      .join {
        width:100%;
        margin-top:18px;
      }
    }
  }
}

.detail-content {
  margin-top:35px;
  .con-inner {
    padding:0 0 30px;
    > div {
      display:none;
    }
  }
}

// lineup-sel
.lineup-sel {
  
}

// 수강신청
.apply-box-1 {
  .pay-chioce {
    margin-top:40px;
    text-align:center;
    > div {
      display:none;
      .radiobox-1 + .radiobox-1 {
        margin-left:30px;
      }
    }
  }
}

.apply-box-2 {
  padding:15px 0 20px;
  border-top:2px solid #000;
  border-bottom:1px solid #7f7f7f;
  .btn-box-1 {
    margin-top:0;
  }
}


// search-box-1
.search-box-1 {
  position:relative;
  height:26px;
  margin-top:15px;
  border:1px solid #b0b0b0;
  border-radius:18px;
  input[type=text] {
    width:100%;
    height:24px;
    padding:0 28px 0 13px;
    color:#818181;
    font-size:rem(11);
    border:none;
    background:none;
    outline: none;
  }
  button {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:35px;
    padding:3px 0 0 0;
    border:none;
    background:none;
    cursor: pointer;
    outline: none;
    img {
      width:11px;
    }
  }
}

// box-type
.box-type-1 {
  padding:10px;
  border-bottom:1px solid #e5e5e5;
}

// lecture _ title
.lecture-title {
  position:relative;
  z-index: 9;
  > a {
    display:block;
    h2 {
      background:#f0f0f0 url("../images/icon/icon_arrow03.png") no-repeat 96% center;
      background-size:8px auto;
    }
  }
  .lecture-title-list {
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:center;
    li {
      & + li {
        border-top:1px solid #e5e5e5;
      }
      a {
        position:relative;
        display:flex;
        justify-content: center;
        align-items: center;
        height:53px;
        color:#000;
        font-size:rem(16);
        font-weight:700;
        line-height:1.2;
        background-color:#f0f0f0;
        &:after {
          content:'';
          display:block;
          position:absolute;
          top:50%;
          right:3%;
          width:8px;
          height:5px;
          background:url("../images/icon/icon_arrow03.png") no-repeat center center;
          background-size:cover;
          transform:rotate(-90deg) translateY(-50%);
        }
      }
    }
  }

  // active
  &.active {
    .lecture-title-list {
      display:block;
    }
  }
}

// lecture _ watching
.lecture-room {
  .movie-info {
    .info {
      position: relative;
      height:66px;
      padding:18px 0 0 64px;
      border-bottom:1px solid #e1e1e1;
      .image {
        position:absolute;
        top:15px;
        left:14px;
        width:39px;
        height:39px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width:100%;
          object-fit: cover;
        }
      }
      .tit {
        color:#0d0e10;
        font-size:rem(12);
        line-height:1.2;
      }
      .out-mem-like {
        padding:0 0 0 0;
        > p {
          display:inline-block;
          padding:0 0 0 14px;
          color:#000;
          font-size:rem(10);
          line-height:20px;
          background-repeat: no-repeat;
          background-position: 0 center;
          background-size:auto 10px;
          & + p {
            margin-left:8px;
          }
          &.mem {
            background-image:url("../images/icon/icon_member02.png");
          }
          &.like {
            background-image:url("../images/icon/icon_like02.png");
          }
        }
      }
    }
  }
  .chatting {
    
  }
}

// lecture _ board
.board-view {
  border-top:1px solid #7a7a7a;
  border-bottom:1px solid #e5e5e5;
  .title-user {
    padding:16px 0 14px 11px;
    color:#161616;
    line-height:1.2;
    border-bottom:1px solid #e5e5e5;
    background-color:#f5f5f5;
    .title {
      font-size:rem(12);
      font-weight:700;
    }
    .user {
      display:flex;
      align-items: center;
      margin-top:3px;
      font-size:rem(10);
      .image {
        width:15px;
        height:15px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width:100%;
        }
      }
      .name {
        margin-left:5px;
        font-weight:700;
      }
      .date {
        min-width:90px;
        margin-left:10px;        
        color:#a3a3a3;
      }
    }
  }
  .con {
    padding:20px 11px;
    color:#161616;
    font-size:rem(11);
    line-height:1.3;
    img {
      max-width:100%;
    }
  }

  .reply {
    border-top:1px solid #e5e5e5;
    .title-user {
      border-bottom:none;
      background-color:#fff;
      .user {
        margin-top:15px;
      }
    }
    .con {
      padding:5px 11px 20px;
    }
  }
}

// mypage _ 개인정보수정
.user-modify-write {
  padding:0 0 0 0;
  > div {
    margin-top:8px;
    &:first-child {
      margin-top:0;
    }
    .form-input {
      margin-bottom:0;
    }
    &.text-1 {
      padding:0 0 30px 18px;
      color:#6a6a6a;
      font-size:rem(10);
      line-height:1.2;
    }
    &.email {
      color:#5f5f5f;
      font-size:rem(12);
      .form-input-group {
        > * {
          & + * {
            margin-left:5px;
          }
        }
      }
    }
  }
}

// mypage _ 내쿠폰
.mycoupon-title {
  position:relative;
  padding:0 0 8px 0;
  > span {
    color:#000;
    font-size:rem(12);
    strong {
      color:#e94e1a;
    }
  }
}

// customer _ 이용약관
.customer-agree {
  > div {
    display:none;
    color:#6e6e6e;
    font-size:rem(10);
    line-height:1.4;
    white-space: pre-wrap;
  }
}

// customer _ FAQ
.customer-faq-search {
  margin-top:22px;
}
.customer-faq {
  > div {
    display:none;
  }
}

// customer _ 1:1문의하기
.customer-1vs1 {

  .customer-1vs1-write {
    > div {
      margin-top:10px;
      .form-input {
        margin-bottom:0;
      }
      .text-box {
        margin:25px 10px 0 15px;
      }
    }
  }
}