#footer {
  position:relative;
  padding:25px 0 40px 0;
  border-top:1px solid #e8e8e8;
  background-color:#fff;
  text-align: center;
  .foot-sns {
    display:flex;
    justify-content: center;
    align-items: center;
    li {
      margin:0 5px;
      a {
        display: block;
        padding:0 5px;
        img {
          transform: scale(.5);
        }
      }
    }
  }
  .foot-utill {
    display:flex;
    justify-content: center;
    margin-top:20px;
    li {
      margin:0 15px;
      a {
        color:#5f6063;
        font-size:rem(10);
        font-weight:500;
      }
    }
  }
  .foot-info {
    margin-top:18px;
    > div {
      color:#5f6063;
      font-size:rem(10);
      line-height:1.5;
      address {
        display:inline-block;
        font-style:normal;
      }
      a {
        color:#5f6063;
      }
    }
  }
  
}