// CSS Grid layout
body {
  &.over-hidden {
    overflow: hidden;
    .dim {
      display:block;
    }
  }
}

// wrap
#wrap {

  background-color:#f0f0f0;

  // main
  &.main {
    background-color:#1a1b1f;
    #header {
      background: url("../images/common/main_header_bg.png") repeat-x 0 0;
      background-size:1px 50px;
    }
    #contents {
      padding-top:0;
      background-color:#1a1b1f;
    }
    #footer {
      border-top:none;
      background-color:#1a1b1f;
    }
  }
}

.dim,
.dim-2,
.dim-3 {
  display:none;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index: 10;
}
.dim-2,
.dim-3 {
  display:block;
}
.dim-3 {
  z-index: 9;
}

// contents
#contents {
  padding-top:50px;
  background-color:#fff;
}

// contents _ default
.contents-box {
  padding:0 0 50px 0;
  .location-area {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:53px;
    padding:0 14px 0 14px;
    background-color:#f0f0f0;
    .location {
      color:#000;
      font-size:rem(10);
      font-weight:300;
      span {
        font-weight:400;
      }
    }
  }
  .contents-inner {
    padding:12px 14px 0 14px;
  }
}