// title box
.title-box-1 {
  margin-bottom:14px;
  padding-bottom:10px;
  border-bottom:1px solid #e5e5e5;
  .btn {
    margin:10px 0;
    text-align: center;
  }
}

// title
.title-type-1 {
  margin-bottom:8px;
  color:#1f1d1b;
  font-size:rem(13);
  font-weight:700;
  line-height:1.2;
}
.title-type-2 {
  display:flex;
  justify-content: center;
  align-items: center;
  height:53px;
  color:#000;
  font-size:rem(16);
  font-weight:700;
  line-height:1.2;
  background-color:#f0f0f0;
  text-align:center;
  strong {
    color:#ff6600;
    font-weight:700;
  }
}
.title-type-3 {
  margin-bottom:15px;
  color:#000;
  font-size:rem(12);
  font-weight:700;
  line-height:1.2;
  &.mt-1 {
    margin-top:28px;
  }
  &.mb-1 {
    margin-bottom:15px;
  }
}

// text
.text-type-1 {
  color:#a5a5a5;
  font-size:rem(11);
  font-weight:500;
  line-height:1.5;
  strong {
    color:#ff6600;
  }
  .txt-1 {
    color:#000;
  }
}
.text-type-2 {
  color:#5e5e5e;
  font-size:rem(11);
  line-height:1.5;
}
.text-type-3 {
  color:#5e5e5e;
  font-size:rem(10);
  line-height:1.5;
}
.text-type-4 {
  color:#747474;
  font-size:rem(10);
  line-height:1.5;
  &.center {
    text-align:center;
  }
  &.mb-1 {
    margin-bottom:15px;
  }
}